# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    docker-compose.yml                                 :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: fclivaz <fclivaz@student.42lausanne.ch>    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/05/04 22:27:45 by fclivaz           #+#    #+#              #
#    Updated: 2025/06/20 01:45:58 by fclivaz          ###   LAUSANNE.ch        #
#                                                                              #
# **************************************************************************** #

services:
  sarif_core:
    container_name: sarif_core
    networks:
      - sarifntw
    volumes:
      - data:/data
      - sarif-libs:/libs
      - sarif-frontend:/var/www/sarif-frontend
    ports:
      - "443:443"
    build:
      context: .
      args:
        CERTPATH: ${CERTPATH}
        KEYPATH: ${KEYPATH}
    env_file:
      - ../.env
      - .env
    environment:
      - API_KEY
      - TZ=Europe/Zurich
